{% extends "layout/basic.html" %}
{% load static %}

{% block css %}
    <link rel=stylesheet href='{% static "/css/account.css" %}'> {# 加载 account.css 样式文件 #}
    <style>
        .error-msg {
            color: red;
        }

        .toast-top-right {
            top: 5% !important;
            right: 50% !important;
            transform: translate(50%, -50%);
        }

        #btnSubmit, #btnForget {
            margin: 0 10px;
        }
    </style> {# 自定义样式 #}

{% endblock %}


{% block title %}忘记密码{% endblock %}



{% block content %}
    <div class="account">
        <h1 style="text-align: center">修改密码</h1> {# 页面标题 #}
        <form id="forgetPassword" method="post" novalidate> {# 注册表单，禁用浏览器自动验证 #}
            {% for field in form %}  {# 遍历表单的所有字段 #}
                {% if field.name == 'code' %} {# 如果字段名为 "code" #}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {# 这是一个 HTML label 元素，它的 for 属性与输入字段的 id 属性相对应，这样当用户点击标签时，浏览器会将焦点移动到对应的输入字段。{{ field.label }} 是 Django 模板语言的变量，它会被替换为当前字段的标签。 #}
                        <div class="row">
                            <div class="col-xs-7">
                                {{ field }}
                                <span class="error-msg"></span> {# 显示字段的第一个错误消息 #}
                            </div>
                            <div class="col-xs-5">
                                <input id="btnSms" type="button" class="btn btn-default" value="点击获取验证码">
                                {# 验证码获取按钮 #}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span> {# 显示字段的第一个错误消息 #}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-group">
                <input id="btnSubmit" type="button" class="btn btn-primary" value="确  认"/> {# 提交按钮 #}
                {# 忘记密码 #}
            </div>
        </form>
    </div>


{% endblock %}

{% block js %}
    <script>
        $(
            function () {
                bindSubmit();
                bindBtnSms();
            }
        );


        function bindSubmit() {
            $("#btnSubmit").click(function (){
            $.ajax({
                url: "{% url "forget_password" %}",
                type: "post",
                data: $("#forgetPassword").serialize(),
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        location.href = "{% url "login" %}";}
                    else
                        {
                            toastr.error(res.msg);
                        }
                    }
                }

            )})
        }

        function bindBtnSms() {
            $("#btnSms").click(
                function () {
                    let phone = $("#id_phone").val();
                    $.ajax({
                        url: "{% url "send_sms" %}",
                        type: "post",
                        data: {phone: phone, sms_type: "login"},
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                toastr.success(res.msg);
                                console.log("sendSmsRemind");
                            } else {
                                toastr.error(res.msg);
                            }
                        }
                    })
                },
            function sendSmsRemind() {
            $("#btnSms").prop("disabled", true);
            let time = 60;
            let remind = setInterval(function () {
                $("#btnSms").val(time + "s后重新获取")
                time = time - 1;
                if (time < 1) {
                    clearInterval(remind);
                    $("#btnSms").val("点击获取验证码").prop("disabled", false);
                }
            },1000)
        }
            )

        }



    </script>

{% endblock %}