{% extends 'layout/basic.html' %} {# 继承基础模板 #}
{% load static %} {# 加载静态文件 #}

{% block title %} 用户注册 {% endblock %} {# 设置页面标题为 "用户注册" #}


{% block css %}
    <link rel=stylesheet href='{% static "/css/account.css" %}'> {# 加载 account.css 样式文件 #}
    <style>
        .error-msg {
            color: red;
        }

        .toast-top-right {
            top: 10% !important;
            right: 50% !important;
            transform: translate(50%, -50%);
        }

    </style> {# 自定义样式 #}

{% endblock %}


{% block content %}
    <div class="account">
        <h1 style="text-align: center">用户注册</h1> {# 页面标题 #}
        <form id="regForm" method="post" novalidate> {# 注册表单，禁用浏览器自动验证 #}
            {% for field in form %}  {# 遍历表单的所有字段 #}
                {% if field.name == 'code' %} {# 如果字段名为 "code" #}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {# 这是一个 HTML label 元素，它的 for 属性与输入字段的 id 属性相对应，这样当用户点击标签时，浏览器会将焦点移动到对应的输入字段。{{ field.label }} 是 Django 模板语言的变量，它会被替换为当前字段的标签。 #}
                        <div class="row">
                            <div class="col-xs-7">
                                {{ field }}
                                <span class="error-msg"></span> {# 显示字段的第一个错误消息 #}
                            </div>
                            <div class="col-xs-5">
                                <input id="btnSms" type="button" class="btn btn-default" value="点击获取验证码">
                                {# 验证码获取按钮 #}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span> {# 显示字段的第一个错误消息 #}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-group">
                <input id="btnSubmit" type="button" class="btn btn-primary" value="注  册"/> {# 提交按钮 #}
            </div>
        </form>
    </div>
{% endblock %}


{% block js %}
    <script>
        //页面加载完毕后执行
        $(
            function () {
                btnClickBtnSendSms();
                btnClickSubmit();
            }
        );

        //点击提交按钮
        function btnClickSubmit() {

            let phoneInput = $('#id_phone');
            let codeInput = $('#id_code');
            let passwordInput = $('#id_password');
            let passwordRepeatInput = $('#id_confirm_password');
            let usernameInput = $('#id_username');
            let emailInput = $('#id_email');
            //点击提交按钮
            $('#btnSubmit').click(function () {
                let username = usernameInput.val();
                let code = codeInput.val();
                let password = passwordInput.val();
                let passwordRepeat = passwordRepeatInput.val();
                let email = emailInput.val()

                //判断用户名是否为空
                if (username === '') {
                    usernameInput.next('.error-msg').text('请输入用户名');
                    return;
                } else if (username.length > 20) {
                    usernameInput.next('.error-msg').text('用户名长度不能小于6');
                    return;
                }


                //判断邮箱是否为空
                if (emailInput === '') {
                    emailInput.next('.error-msg').text('请输入邮箱');
                    return;
                } else if (!(/^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/.test(email))) {
                    emailInput.next('.error-msg').text('邮箱格式错误');
                    return;
                }

                //判断密码是否为空

                if (password === '') {
                    passwordInput.next('.error-msg').text('请输入密码');
                    return;
                } else if (password.length < 6) {
                    passwordInput.next('.error-msg').text('密码长度不能小于6');
                    return;
                }

                //判断重复密码是否为空

                if (passwordRepeat === '') {
                    passwordRepeatInput.next('.error-msg').text('请再次输入密码');
                    return;
                } else if (passwordRepeat !== password) {
                    passwordRepeatInput.next('.error-msg').text('两次密码不一致');
                    return;
                }


                //判断验证码是否为空
                if (code === '') {
                    codeInput.next('.error-msg').text('请输入验证码');
                    return;
                } else if (code.length !== 4) {
                    codeInput.next('.error-msg').text('验证码长度错误');
                    return;
                }


                //获取表单数据
                //表单数据发送至后台
                $.ajax({
                    url: "{% url 'register' %}",
                    type: "POST",
                    data: $('#regForm').serialize(), //序列化表单数据，包含表单中的所有字段数据
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            location.href = res.data;
                        } else {
                            toastr.error(res.msg);
                        }
                    }
                })

            })
        }

        //点击获取验证码按钮
        function btnClickBtnSendSms() {
            //点击获取验证码按钮
            let btnSms = $("#btnSms");
            let phoneInput = $("#id_phone");
            btnSms.click(
                function () {
                    //获取手机号码
                    let phone = phoneInput.val();
                    //判断手机号码是否为空
                    if (phone === "") {
                        phoneInput.next('.error-msg').text('请输入手机号');
                        return;
                        //判断手机号码是否合法
                    } else if (!(/^1[3456789]\d{9}$/.test(phone))) {
                        phoneInput.next('.error-msg').text('手机号格式错误');
                        return;
                    }
                    //发送ajax请求，传手机号获取验证码
                    $.ajax(
                        {
                            url: "{% url "send_sms" %}",
                            //发送验证码的URL 与urls.py中的name对应，功能与/send_sms/一致
                            type: "post",
                            data: {phone: phone, sms_type: "register"},
                            //传递手机号码和验证码类型
                            dataType: "JSON",
                            //反序列化返回的json数据
                            success: function (res) {
                                //成功回调
                                if (res.status) {
                                    sendSmsRemind();
                                    toastr.success("验证码发送成功")
                                } else {
                                    toastr.error(res.msg);
                                }
                            }
                        }
                    )
                }
            );
            // 开始监听手机号输入框的输入时间
            $('.form-control').on('input', function () {
                //如果输入框有值
                if ($(this).val()) {
                    //清空错误提示
                    $(this).next('.error-msg').text('');
                }
            })
        }

        //倒计时功能
        function sendSmsRemind() {
            let btnSms = $('#btnSms');
            btnSms.prop('disabled', true);
            let time = 60;
            let remind = setInterval(function () {
                btnSms.val(time + '秒重新发送')
                time = time - 1;
                if (time < 1) {
                    clearInterval(remind);
                    btnSms.val('点击获取验证码').prop('disabled', false);
                }
            }, 1000)
        }
    </script>
{% endblock %}