<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .account {
            width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="account">
    <h1 style="text-align: center">注册</h1>
    <form>
        {% for feild in form %}
            {% if feild.name == 'code' %}
                <div class="form-group">
                    <label for="{{ feild.id_for_label }}">{{ feild.label }}</label>
                    <div class="clearfix">
                        <div class="col-md-6" style="padding-left: 0">{{ feild }}</div>
                        <div class="col-md-6"><input type="button" value="点击获取验证码" class="btn btn-default"></div>
                    </div>
                </div>
            {% else %}
                <div class="form-group">
                    <label for="{{ feild.id_for_label }}">{{ feild.label }}</label>
                    {{ feild }}
                </div>
            {% endif %}
        {% endfor %}

        <button type="submit" class="btn btn-primary">注册</button>
    </form>
</div>

</body>
</html>